<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      ,
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      ,
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <ul class="sidebar-nav">
            <li><a href="/hotel">Home</a></li>
            <li><a href="/hotel/cleaners">Cleaners</a></li>
            <li><a href="/hotel/cleaner/create">Create Cleaner</a></li>
            <li><a href="/hotel/service/create">Create Service</a></li>
            <li class="form-group">
              <label for="page-number" class="form-label">Page Number</label>
              <input type="number" min="1" max="9" id="page-number" class="form-control form-control-sm">
            </li>
            <li class="form-group">
              <label for="page-date" class="form-label">Page Date</label>
              <input type="date" id="page-date" class="form-control form-control-sm">
            </li>
            <li><a href="" class="btn btn-sm btn-primary" id="page-anchor">Visit Page</a></li>
          </ul>
        </div>
        <div class="col-sm-9">