* {
  box-sizing: border-box;
}

.sidebar-nav {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  min-width: max-content;
}

form,
hr,
.alert,
.table-width-limited {
  max-width: 600px;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

.diary th {
  font-size: x-small;
  text-align: center;
  width: 3rem;
}

.diary td {
  position: relative;
  height: fit-content;
  width: 3rem;
}

td img {
  width: 100%;
  height: auto;
  flex-shrink: 1;
}

.day {
  font-size: smaller;
  position: absolute;
  top: 0;
  left: 0;
}

.diary {
  max-width: 350px;
}

.image-container {
  height: fit-content;
}

.checkbox-color {
  accent-color: currentcolor;
}
  

.graph-container {
  background: skyblue;
  border: 1px solid black;
  height: 0;
  padding-top: 50%;
  position: relative;
}

.axe-percentage {
  width: 0;
  height: 0;
  padding-top: 40%;
  border-left: 1px solid black;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.axe-score {
  width: 90%;
  height: 0;
  border-bottom: 1px solid black;
  position: absolute;
  bottom: 20%;
  left: 5%;
  z-index: 10;
}

.percentage-label {
  position: absolute;
  left: calc(10% - 2em);
  bottom: 90%;
}

.score-label {
  position: absolute;
  bottom: calc(20% - 1.3em);
  width: 9%;
}

.score-legend {
  position: absolute;
  bottom: calc(10% - 1.3em);
  left: calc(51.5% - 1em);
}

.bar {
  position: absolute;
  width: 4%;
  height: 0;
  bottom: 20%;
}
